/*HOME PAGE*/
/*Header*/
header {
    background-color: #333;
    padding: 20px;
    margin: 0;
    display: flex;
    align-items: center;
}
.header-content {
    margin-left: auto;
    display: flex;
    flex-direction: column;
}
header h1{
    color: #880097;
}
header p{
    color: #02aac4;
}
/*Navigation Bar*/
.NAVBAR nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #333;
}
.NAVBAR a{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    text-decoration-line: none;
}
.NAVBAR a:visited{
    color:aqua;
}
/*About Us Section*/
.about-us{
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    text-align: center;
    padding: 20px;
    margin: 20px;
}
/*Shop Now*/
.shop-now button{
    background-color: #4caf50;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}
.shop-now button:hover{
    background-color: aqua;
}
/*Customer Review Section*/
.customer-reviews{
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}
footer {
    background-color: #333;
    padding: 10px;
    margin: 0;
    color: white;
    text-align: center;
}