/*HOME PAGE*/
/*Header*/
header {
    background-color: #333;
    padding: 20px;
    margin: 0;
    display: flex;
    align-items: center;
}
.header-content {
    margin-left: auto;
    display: flex;
    flex-direction: column;
}
header h1{
    color: #880097;
}
header p{
    color: #02aac4;
}
/*Navigation Bar*/
